body{
    min-height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #000;
}
#clock{
    font-family: 'Orbitron', sans-serif;
    font-size:  5rem;
    color: #d6ab1c;
    border: 5px dotted #ccc;
    padding: 5px 5px 5px 5px;

}